:host {
  display: block;
}

.sidebar {
  height: 100vh;
  width: 250px;
}

.button-delete {
  background-color: #e30202;
  color: #fff;
  border: none;
}

.button-search {
  border: none;
}

.rounded-top-left-0 {
  border-top-left-radius: 0 !important;
}

.rounded-top-right-0 {
  border-top-right-radius: 0 !important;
}

.button-search:hover {
  background-color: #0d6efd;
  color: #fff;
  transition-property: all;
}

.button-delete:hover {
  background-color: #fff;
  color: #e30202;
}
